<div class="container">
  <h1>Cocktail details</h1>
  <p><%= @cocktail.name %> </p>
  <p><% @cocktail.ingredients.each do |ingredient| %></p>
      <p> <%= ingredient.name %> </p>
      <p> <% ingredient.doses.each do |dose| %> </p>
            <p> <%= dose.description %> </p>
          <% end %>
    <% end %>
  <p> <%=  %> </p>
  <%= link_to 'Add Ingredient', new_cocktail_dose_path(@cocktail) %>
  <%= link_to 'Back to Cocktail List', cocktails_path %>
</div>
